{% extends 'base.html.twig' %}
{% form_theme form _self %}

{% block title %}{{ pageTitle({ userAccount: userAccount.displayName }) }}{% endblock %}
{% block pageTitle %}{{ pageTitle({ userAccount: userAccount.displayName }) }}{% endblock %}



{% block _profile_edition_extraData_row %}
    {{ form_widget(form) }}
{% endblock %}



{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary">{{ 'submit'|tr }}</button>
            <a href="{{ path('admin.userAccount.profile', { userAccountId: userAccount.id }) }}" class="btn btn-secondary">{{ 'cancel'|tr }}</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
