{% extends 'base.html.twig' %}



{% block body %}
    {% if clients is empty %}
        <div class="alert alert-info">
            <p>{{ 'noClients'|tr }}</p>
        </div>
    {% else %}
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>{{ 'title'|tra('client') }}</th>
                    <th>{{ 'id'|tra('client') }}</th>
                    <th>{{ 'publicKey'|tra('client') }}</th>
                    <th>{{ 'redirectUrl'|tra('client') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.title }}</td>
                        <td><code>{{ client.id }}</code></td>
                        <td><pre>{{ client.publicKey }}</pre></td>
                        <td>{{ client.redirectUrl }}</td>
                        <td>
                            <a href="{{ path('admin.client.edit', { clientId: client.id }) }}"><span class="fa fa-pencil"></span> {{ 'edit'|tr }}</a><br />
                            <a href="{{ path('admin.client.delete', { clientId: client.id }) }}" class="text-danger"><span class="fa fa-trash"></span> {{ 'delete'|tr }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <p><a href="{{ path('admin.client.create') }}" class="btn btn-primary"><span class="fa fa-plus"></span> {{ 'add'|tr }}</a></p>
{% endblock %}
